mixin formattedDate(value, componentAttrs = {})
  - valueArr = `${value}`.split(' ');
  - dateTime = valueArr.join('T');
  - textTime =  valueArr.join(', ');
  time(datetime=dateTime)&attributes(componentAttrs)= textTime

mixin getError(errors, field)
  if errors
    each error in errors
      if error[field]
        p.comments__error= error[field]

mixin countComments(article_id, comments)
  - count = 0;
  each comment in comments
    if comment.article_id === article_id
      - count = +count + 1;
  if count
    a.preview__comment(href=`/articles/article/${article_id}`)
      | Комментарии
      span.preview__cloud
      |
      b.preview__comment-count= ` ${count}`
