mixin adminComment(article, comment, user)
  li.publication__list-item
    .publication__header
      img.publication__list-image(src=user.avatarSmall width='20' height='20' alt='Аватар пользователя')
      b.publication__list-name= `${user.lastName} ${user.firstName}`
      +formattedDate(comment.createdDate, {class: 'publication__item-time'})
    a.publication__item-text(href=`/articles/article/${article.id}`)= article.title
    p.publication__text-strong= comment.comment
    a.publication__button.button.button--close-item(href=`/my/comments/${comment.articleId}/${comment.id}/delete`)
      span.visually-hidden Закрыть строку списка
