mixin articleCommentsForm(currentUser, article_id, errors)
  if currentUser
    .comments__footer.comments__footer--user
      form(action=`/articles/article/${article_id}` method='POST')
        .comments__avatar.avatar
          img(src=currentUser.avatar alt='аватар пользователя')
        label
          textarea(rows='1' name='comment' placeholder='Присоединиться к обсуждению')
        button.comments__button.button.button--colored(type='submit') Опубликовать
      +getError(errors, 'comment')
  else
    .comments__footer.comments__footer--visitor
      button.comments__button.button.button--colored(type='submit') Войти
      .comments__registration
        p.text.text--signature
          b.title.title--small Регистрация
          | Чтобы присоединиться к переписке нужно зарегистрироваться

mixin articleCommentItem({comment, user})
  li.comments__comment
    .comments__avatar.avatar
      img(src=user.avatar alt='аватар пользователя')
    .comments__text
      .comments__head
        p= `${user.name} •`
        +formattedDate(comment.created_date, {class: 'comments__date'})
      p.comments__message= comment.comment

mixin articleCommentsList({currentUser, comments, users, article_id, errors})
  .post__wrapper.post__wrapper--comments
    section.post__comments.comments
      if comments.length
        h2.comments__title.title.title--middle Комментарии
        ul.comments__list
          each comment in comments
            each user in users
              if comment.user_id === user.id
                +articleCommentItem({comment, user})
      else
        h2.comments__title.title.title--middle Комментарии отсутствуют
      +articleCommentsForm(currentUser, article_id, errors)
