mixin articleItem({article, categories, comments, currentUser, users, categoriesCount, errors})
  section.post
    h1.visually-hidden Пост
    section.post__content
      h2.visually-hidden Основное содержание
      .post__wrapper
        .post__head
          button.post__backwards.button.button--backwards(onclick='window.history.go(-1); return false;') Назад
          +formatDate(article.createdDate, {class: 'post__date'})
          h2.post__title.title.title--main= article.title
          ul.post__themes.themes
            each categoryId in article.categories
              each categoryData in categories
                if categoryId === categoryData.id
                  +themesItem(categoryData, categoriesCount)
        if article.img
          .post__picture
            img(src=article.img alt=article.img)
        .post__text
          h3= article.title
          p= article.announce
          p= article.sentences
    +articleCommentsList({currentUser, comments, users, articleId: article.id, errors})
