mixin dateField(article)
  .new-publication__date-form
    h3 Дата публикации
    .new-publication__date-form-division
      .new-publication__date-block
        label(for='new-publication__date' aria-label='Календарь')
        input#new-publication__date(type='text' name='createdDate' value=article.createdDate)

mixin titleField(article, errors)
  .form__field
    label
      input(type='text' name='title' placeholder='Заголовок' required value=(article.title || ''))
  +getError(errors, 'title')

mixin imageField(article, errors)
  .form__field.form__field--post-image
    label
      input#image-name-field(type='text' placeholder='Фотография' readonly value=(article.img || ''))
    .form__image-loader.form__image-loader--publication
      label
        input.visually-hidden(type='file' name='img')
        | Обзор
      if article.img
        button.button.button--transparent Удалить
  +getError(errors, 'file')

mixin categoriesField(article, categories)
  each category in categories
    .new-publication__checkbox.new-publication__checkbox--auto
      - checked = false
      if article.categories && article.categories.includes(category.id)
        - checked = true
      input(id=category.id type='checkbox' name='categories' checked=checked value=category.id)
      label(for=category.id)= category.label
  a.new-publication__form-link.button.button--transparent(href='/my/categories') Добавить категорию
  +getError(errors, 'categories')

mixin announceField(article, errors)
  .form__field.form__field--publication-text
    label
      textarea(rows='1' name='announce' placeholder='Анонс публикации')= (article.announce || '')
  +getError(errors, 'announce')

mixin sentencesField(article, errors)
  .form__field.form__field--publication-text
    label
      textarea(rows='1' name='sentences' placeholder='Полный текст публикации')= (article.sentences || '')
  +getError(errors, 'sentences')
