mixin page(index, linkPrefix)
  - isActive = index === activePage
  - activeClass = `${isActive ? 'pagination__item--active' : ''}`
  li.pagination__item(class=`${activeClass}`)
    a(href=`${isActive ? '#' : `${linkPrefix}?page=${index}`}`)= `${index}`

mixin articlesPagination(activePage, pagesCount, byCategories, activeCategoryId)
  - i = 1
  - linkPrefix = !byCategories ? '' : `/category/${activeCategoryId}`
  - backBtnClass = `${activePage === 1 ? 'button--disabled' : ''}`
  - forwardBtnClass = `${+activePage >= +pagesCount ? 'button--disabled' : ''}`
  .preview__toggle-wrapper
    ul.preview__pagination.pagination
      li
        a.pagination__button.button.button--backwards(
          class=backBtnClass
          href=`${linkPrefix}?page=${+activePage - 1}`
          aria-label='Страница назад') Назад
      while i <= +pagesCount
        +page(i++, linkPrefix)
      li
        a.pagination__button.button.button--forward(
          class=forwardBtnClass
          href=`${linkPrefix}?page=${activePage + 1}`
          aria-label='Страница вперед') Вперед
