mixin publicationCard(article, comments = [], categories)
  - hasImage = article.img
  li.preview__item(class=`${!hasImage ? 'preview__item--noimage' : ''}`)
    ul.preview__breadcrumbs
      each articleCategoryId in article.categories
        each categoryData in categories
          if articleCategoryId === categoryData.id
            li.preview__breadcrumbs-item
              a.preview__breadcrumbs-link(href=`/category/${categoryData.id}`)= categoryData.label
    if hasImage
      .preview__background
        img.preview__background-image(src=article.img width='460' height='240' alt=article.img)
    +formattedDate(article.createdDate, {class: 'preview__time'})
    h3.preview__name
      a.preview__name-link(href=`/articles/article/${article.id}`)= article.title
    p.preview__text= article.announce
    +countComments(article.id, comments)
