mixin logo(props)
  - user = props.currentUser || {}
  a.header__logo.logo(href='/')
    case user.role
      when 'admin'
      when 'reader'
        img.logo__image(src='img/icons/logo-image-only.svg' alt='логотип Тайпотеки')
        span.logo__name Типотека
          if props.error && props.error.statusCode
            b &nbsp;/&nbsp;
            b= props.error.statusCode
      default
        img(src='img/icons/logo.svg' alt='логотип Тайпотеки')

mixin userContent(currentUser = {})
  if currentUser.role === 'admin'
    a.button.button--colored.header__button-new(href='/articles/add') Новая запись
    +navigationMenu()
  nav.header__nav
    ul.header__nav-list
      li.header__list-item
        p= `${currentUser.firstName} ${currentUser.lastName}`
      li.header__list-item
        a.header__exit(href='/logout') Выйти
  a.header__avatar.avatar
    img(src=currentUser.avatar alt='аватар пользователя')

mixin headerContent(currentUser = {})
  case currentUser.role
    when 'admin'
    when 'reader'
      +userContent(currentUser)
    default
      nav.header__nav
        ul.header__nav-list
          li.header__list-item
            a.header__popup(href='/register') Регистрация
          li.header__list-item
            a.header__enter(href='/login') Вход с паролем

mixin header(props = {})
  header.header(class=`${props.error ? 'header--error' : ''}`)
    +logo(props)
    +headerContent(props.currentUser)
    a.header__search.button.button--search(href='/search' aria-label='поиск по сайту')
