mixin postItem({post, categories, comments, currentUser, users, categoriesCount})
  section.post
    h1.visually-hidden Пост
    section.post__content
      h2.visually-hidden Основное содержание
      .post__wrapper
        .post__head
          a.post__backwards.button.button--backwards(href='#') Назад
          +formattedDate(post.createdDate, {class: 'post__date'})
          h2.post__title.title.title--main= `${post.title}`
          ul.post__themes.themes
            each categoryId in post.categories
              each categoryData in categories
                if categoryId === categoryData.id
                  +themesItem(categoryData, categoriesCount)
        if post.img
          .post__picture
            img(src=`${post.img}` alt=`${post.img}`)
        .post__text
          h3= `${post.title}`
          p= `${post.announce}`
          p= `${post.sentences}`
    +postCommentsList({currentUser, comments, users})
